*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--color-secundary);
    color: var(--color-default);
}

:root {
    /* Animaties */
    --animation-default: 0.2s;
    /* Kleuren */
    --color-primary-100:#643305;
    --color-primary-75: #B27603;
    --color-primary-50: #FFB800;
    --color-default: #f5f5f5;
    --color-default-sub: #e3ddcd;
    --color-invert: #222222;
    --color-secundary: #0C6545;
    /* Eenheiden */
    --unit-deca: 10rem;
    --unit-default: 1rem;
    --unit-full: 100%;
    --unit-large: 2rem;
    --unit-micro: 0.25rem;
    --unit-nano: 0.125rem;
    --unit-pico: .5px;
    --unit-small: 0.5rem;
    /* Schaduwen */
    --shadow-default: 4px 4px 4px rgba(179, 129, 0, 0.66);
}

@font-face {
    font-family: "Gloock";

    src: 
        local("Gloock") 
        url(../assets/fonts/gloock-regular.ttf)
}

body {
    background-color: var(--color-primary-50);
    color: var(--color-invert);
    font-family: 'League Spartan', sans-serif;
    position: relative;
}

body::after {
    content:'';
    background-image: url(assets/images/silk.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.4;
    z-index: -1;
}

/* Interactief */
a {
    font-family: "Gloock", didot, serif;
}

a, button, input {
    border: 2px solid #00000000;
    cursor: pointer;
    transition: var(--animation-default) ease-in-out;
}

a:hover, button:hover {
    background-color: var(--color-default);
    color: var(--color-secundary);
}

a:focus-visible, button:focus-visible, input:focus-visible {
    outline: unset;
}

button {
    background-color: var(--color-secundary);
    border: unset;
    border-radius: var(--unit-micro);
    box-shadow: var(--shadow-default);
    color: var(--color-default);
    padding: var(--unit-micro) var(--unit-default);
    mix-blend-mode: color-burn;
}

button figure {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--unit-small);
}

button figure svg {
    fill: var(--color-default);
    transition: var(--animation-default);
}

input {
    background-color: var(--color-default);
    border: unset;
    border-radius: var(--unit-micro);
    box-shadow: var(--shadow-default);
    height: var(--unit-large);
    padding: var(--unit-small) var(--unit-small) var(--unit-small) var(--unit-small);
    width: var(--unit-full);
}

/* Hover state */
a:hover, button:hover {
    background-color: var(--color-default-sub);
    color: var(--color-secundary);
}

button:hover figure svg {
    fill: var(--color-secundary);
}   

/* focus state */
a:focus, button:focus, input:focus {
    background-color: var(--color-default);
    border: 2px solid var(--color-secundary);
    color: var(--color-secundary);
}

button:focus svg {
    fill: var(--color-secundary);
}

/* Typografie */
h1, h2, h3, h4, p {
    font-weight: normal;
}

h1, h2 {
    font-family: "Gloock", didot, serif;
}

h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: var(--unit-default);
    max-width: 23rem;
    mix-blend-mode: color-burn;
}

h3 {
    font-family: "League Spartan";
}

p {
    line-height: 1.4;
    max-width: calc(var(--unit-deca) * 3);
    text-wrap: balance;
    white-space-collapse: break-spaces;
}

/* Overzicht artikelen */
section .all-articles {
    margin: auto;
    width: fit-content;
}

/* Media queries */
@media (min-width: 22rem){

    .searchbar {
        margin: 0 auto;
        width: 22rem;
    }
}

@media (min-width: 45rem) {
    .searchbar {
        margin: 0 auto;
        width: calc(42rem + var(--unit-default));
    }
}